{% extends 'layouts/base.html' %}

{% block title %} RideConnect - Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="{{ ASSETS_ROOT }}/css/login.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% csrf_token %}
            <div style="text-align: center;">
                <img class="mb-4" src="{{ ASSETS_ROOT }}/img/logo.png" alt="" width="128" height="128">
            </div>
            <h1 class="h3 mb-3 fw-normal text-lg-center">RideConnect</h1>

            <p class="mb-0 text-center">
                {% if msg %}
                    <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                    Let's get you signed in!
                {% endif %}
            </p>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Example Username"
                       name="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                       name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3 text-center">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="text-center mt-3 fw-bold">
                Not a member yet?
            </p>
            <a href="{% url 'register' %}" class="w-100 btn btn-lg btn-secondary">Register here</a>
            <p class="mt-5 mb-3 text-muted text-center">&copy; Rocco Su & Yichen Huang</p>
        </form>
    </main>

{% endblock content %}