{% extends 'layouts/sidebar.html' %}

{% block title %} RideConnect - Request {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <h2 class="text-primary">Ride Request</h2>
    <hr class="my-4">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
{% endblock content %}